
h1
      {
        text-align: left;
      }
label {
        font-size: 16px;
        margin-bottom: 5px;
      }
input, textarea {
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
      }           
