#header {
	width : 1847px;	
	height : 150px;
	position: relative;
	margin: 40px;
	top: 30px;
	border-radius: 35px 35px 35px 35px;
	border: #000000 solid 2px;	
}	
#menu-cadre {
	width : 250px;	
	height : 525px;
	border: #000000 solid 2px;	
	margin-left: 40px;
	top: 10px;
	float: left;
}			
#corp {
	width : 1587px;	
	height : 525px;
	border: #000000 solid 2px;			
	margin-left: 10px;
	top: 10px;	
	float: left;
}
#footer {
	width : 1847px;	
	height : 150px;
	border: #000000 solid 2px;	
	position: relative;
	margin: 0px;
	top: 535px;
}				
#photo {
	width : 200px;	
	height : 200px;
	border: #000000 solid 2px;			
	margin-left: 1500px;
	top: 40px;
	float: left;		
	position: relative;
}
iframe {
	margin: 20px;
	width : 1100px;	
	height : 475px;
}
img {
	width: 200px;	
	height: 200px;
}
div#menu {
	width: 200px
  }


div#menu ul {
padding: 0;
width: 150px;
border: 2px solid black;
margin: 15px;	
}

div#menu ul li {
position: relative;
list-style: none;
border-bottom: 2px solid black;
}

div#menu ul ul {
position: absolute;
top: 0;
left: 100px;
}

div#menu li a {
text-decoration: none;
}

div#menu ul ul {
position:absolute;
top: 0;
left: 135px;
display: none
}


div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,
div#menu ul.niveau2 li.sousmenu:hover ul.niveau3 {display: block;}



div#menu a {color:black}

div#menu li.sousmenu:hover {background: lightblue}

div#menu li a {
text-decoration: none;
padding: 4px 0 4px 9px;
display: block; border-left:
8px solid lightblue; width: 60px;

}

div#menu li a:hover {  border-left-color: lightblue; }
div#menu ul ul li a:hover {  border-left-color: lightblue;}
div#menu ul ul ul li a:hover { border-left-color: lightblue;}

	