body, header {
    margin:0;
    padding:0;
    }
body {
    background-color:rgb(99, 190, 226);
    }
#header{
    width  : 100%;
    height : 200px;
    background: teal;
    margin: 0;
    padding: 0;
}
.logo{
    width  : 150px;
    height : auto;
    padding: 15px;
    float: left;
}
.rightheader{
    width  : 150px;
    height : 150px;
    padding: 15px;
    float: right;
    text-align: center;
}
.facture {
    color : gray;
}
#destinataire{
    width  : 500px;
    height : 150px;
    margin: 35px;
    display: flex;
}
#envoyera{
    width  : 500px;
    height : 250px;
    display: flex;
    margin-left: 20px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border-right: 1px solid black;
    background-color: white;
}
input{
    background: none;
    border: none;
}
.tdescription{
    background-color: teal;
    color: white;
    width: 65%;
    text-align: center;
    border-right: none;
}
.tqpt{
    background-color: teal;
    color: white;
    width: 10%;
    text-align: center;
    border-right: none;
}
input{
    width: 100%;
}
.remarque{
    margin-left: 35px;
    width: 500px;
}
.calcul {
    float: right;
    border: none;
}
.format {
    background-color:rgb(99, 190, 226);
    border-right: none;
    width: 300px;
    text-align: right;
}
.total {
    background-color:rgb(99, 190, 226);
    border-right: none;
    text-align: right;
    width: 175px;
}
.formatmax {
    background-color:rgb(99, 190, 226);
    border-right: none;
    width: 300px;
    font-size: 1.5em;
    text-align: right;
}
.totalmax {
    background-color:rgb(99, 190, 226);
    border-right: none;
    text-align: right;
    font-size: 1.5em;
    width: 175px;
}


